@media (max-width: 1258px) {
  .menu {
    padding: 0 70px;
  }
  .merit {
    &__wrapper {
      max-width: 100%;
    }
    &__item {
      min-height: 480px;
    }
  }
}

@media (max-width: 995px) {
  .container {
    padding: 20px 30px;
  }
  .menu {
    padding: 0 20px;
    &__logo {
      width: 30%;
    }
    &__list {
      width: 100%;
    }
  }
  .merit {
    &__wrapper {
      margin-top: 50px;
    }
    &__item {
      min-height: 450px;
    }
  }
  .news {
    &__wrapper {
      margin-top: 20px;
    }
    &__data {
      margin-left: 15px;
    }
    &__text {
      margin-top: 10px;
    }
  }
  .reserve {
    &__pc {
      width: 33.33%;
    }
    &__ps {
      width: 33.33%;
      margin: 0 5px;
    }
    &__title {
      width: 96%;
      height: 40px;
      font-size: 23px;
      line-height: 44px;
    }
    &__title_ps {
      width: 96%;
      height: 95px;
      font-size: 22px;
      line-height: 44px;
    }
    &__price {
      font-size: 21px;
    }
    .line {
      width: 125px;
    }
    .button {
      width: 200px;
      font-size: 13px;
    }
    &__rate {
      font-size: 13px;
    }
  }
  .footer {
    padding: 20px 30px;
    &__kaktus {
      font-size: 12px;
    }
    &__data {
      a {
        font-size: 13px;
      }
    }
  }
}
@media (max-width: 767px) {
  header {
    position: fixed;
    z-index: 10;
    width: 100vw;
    top: 0;
  }
  .menu {
    &__item {
      &:nth-child(1) {
        margin-top: 40px;
      }
    }
    &__logo {
      width: 100%;
    }
    &__list {
      position: fixed;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 5;
      justify-content: flex-start;
      align-items: center;
      top: 0;
      left: -100%;
      width: 50%;
      height: 100vh;
      padding: 20px 15px;
      transition: 0.6s all;
      &_active {
        left: 0;
      }
    }
    &__item {
      padding-right: 0;
      border: none;
      margin: 0;
      margin-top: 15px;
    }
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    transform: translateY(-50%);
    width: 35px;
    height: 16px;
    span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #ffffff;
      margin-bottom: 6px;
      transition: 0.5s all;
    }
    &_active {
      span {
        margin-bottom: -2px;
        &:nth-child(1) {
          transform: translateY(3px) rotate(-45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: translateY(3px) rotate(45deg);
        }
      }
    }
  }
  .slider__title {
    margin-top: 40px;
  }
  .merit {
    &__item {
      min-height: 360px;
    }
    &__list {
      margin-top: 45px;
      li {
        font-size: 14px;
        margin-top: 25px;
      }
    }
  }
  .news {
    &__item {
      display: block;
    }
    &__data {
      margin-left: 0;
      margin-top: 10px;
    }
  }
  .reserve {
    &__pc {
      width: 33.33%;
    }
    &__ps {
      width: 33.33%;
      margin: 0 19px;
    }
    &__title {
      width: 96%;
      height: 40px;
      font-size: 17px;
      line-height: 44px;
    }
    &__title_ps {
      width: 96%;
      height: 95px;
      font-size: 23px;
      line-height: 44px;
    }
    &__price {
      font-size: 16px;
      span {
        font-size: 19px;
      }
    }
    .line {
      width: 125px;
    }
    .button {
      width: 100%;
      font-size: 10px;
    }
    &__rate {
      font-size: 10px;
    }
    &__time {
      font-size: 14px;
    }
  }
  .footer {
    flex-wrap: wrap;

    padding: 20px 30px;
    &__kaktus {
      font-size: 12px;
      order: 999;
      margin-left: auto;
    }
    &__data {
      a {
        font-size: 13px;
      }
    }
  }
}
@media (max-width: 575px) {
  .slider {
    &__data {
      padding: 41px 24px 20px 30px;
    }
    &__control {
      display: none;
    }
  }
  .merit {
    &__wrapper {
      display: block;
    }
    &__item {
      display: flex;
      min-height: 100px;
      align-items: center;
      margin-top: 30px;
    }
    &__round {
      width: 57px;
      height: 62px;
    }
    &__list {
      margin: 0;
      li {
        margin-top: 10px;
        &:first-child {
          margin: 0;
        }
      }
    }
  }
  .reserve {
    &__wrapper {
      flex-wrap: wrap;
    }
    &__pc {
      width: 100%;
    }
    &__ps {
      width: 100%;
      margin: 35px 19px 35px 19px;
      padding: 0;
    }
    &__time {
      font-size: 17px;
    }
    &__rate {
      li {
        font-size: 14px;
      }
    }
    &__title {
      font-size: 20px;
    }
    &__price {
      font-size: 22px;
    }
    .button {
      font-size: 17px;
    }
  }
  .container {
    padding: 30px 30px;
  }
  .footer {
    display: block;
    flex-wrap: wrap;
    padding: 20px 30px;
    &__kaktus {
      font-size: 12px;
      order: 999;
      margin-left: auto;
    }
    &__data {
      display: block;
      a {
        font-size: 13px;
      }
    }
    &__place {
      margin: 0;
      margin-top: 40px;
    }
    &__kaktus {
      margin: 0 auto;
      justify-content: center;
      margin-top: 30px;
    }
  }
}
