body {
  margin: 0 auto;
}

.container {
  padding: 84px 200px;
  max-width: 1140px;
  margin: 0 auto;
}
@import 'base/variables';
@import 'libs/_font';
@import 'blocks/header';
@import 'blocks/promo';
@import 'base/button';
@import 'blocks/merit';
@import 'blocks/news';
@import 'blocks/reserve';
@import 'blocks/_modal';
@import 'blocks/_footer';
@import 'base/_media';

.child {
  display: none;
}
