@import 'libs/_slick';
@import 'libs/_font';
body {
  margin: 0 auto;
}
html {
  scroll-behavior: smooth; /* свойство scroll-behavior не наследуется, применяется к прокручиваемым блокам */
}

.container {
  padding: 84px 200px;
  max-width: 1140px;
  margin: 0 auto;
}
@import 'base/variables';
@import 'blocks/header';
@import 'blocks/promo';
@import 'base/button';
@import 'blocks/merit';
@import 'blocks/news';
@import 'blocks/reserve';
@import 'blocks/_modal';
@import 'blocks/_footer';
@import 'blocks/_carousel';
@import 'base/_media';

.child {
  display: none;
}

.elfsight-app-45515f57-6f90-4f87-adb7-cae9651101a3 {
  background-color: $main-color;
}
