.carousel {
  background: url('../img/slider_bg.jpg') center (center/cover) no-repeat;
  position: relative;
  z-index: 1;
  &__item {
    padding: 0 98px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &__overlay {
    background-color: rgba(0, 0, 0, 0.35);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  &__inner {
    z-index: 3;
    margin: 0 auto;
    max-width: 1140px;
    max-height: 800px;
  }
  &__data {
  }
  &__title {
    border: 1px solid rgba(0, 0, 0, 0);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #e5e3e3;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.05px;
    line-height: 39.5px;
  }
  &__time {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #f2f2f2;
    margin-top: 15px;
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.33px;
    text-decoration: underline;
    text-transform: lowercase;
  }
  &__text {
    border: 1px solid rgba(0, 0, 0, 0);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #c4c4c4;
    margin-top: 21px;
    font-family: 'Source Code Pro';
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 0.36px;
    line-height: 25px;
    a {
      text-decoration: none;
      font-size: 22px;
      color: #a50e18;
    }
  }
  .slick-prev {
    z-index: 10;
    position: absolute;
    top: 50%;
    width: 68px;
    height: 118px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
  }
  .slick-next {
    background-color: transparent;
    z-index: 10;
    border: none;
    position: absolute;
    top: 50%;
    width: 68px;
    height: 118px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    transform: translateY(-50%);
    right: 0;
  }
  .slick-prev:hover,
  .slick-next:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0.9;
  }
}
